/* your code here */
/*.wrapper {
	display: flex;
}
.wrapper :nth-child(1) {
	position: static;
}*/
.wrapper :nth-child(2) {
	margin-left: 20px;
	margin-right: 20px;
}
.wrapper :nth-child(3) {
	display: inline-block;
	float: left;
	width: max-content;
	margin-left: 20px;
	margin-right: 5px;
}
.wrapper :nth-child(4) {
	display: inline-block;
	float: right;
	width: 90%;
	margin-right: 20px;
	margin-left: 5px;
}

/**************************************
DON'T CHANGE ANYTHING AFTER THIS LINE
**************************************/

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #2980b9;
	color: #fff;
	font-family: Helvetica;
	text-align: center;
	margin: 0;
}

header,
nav,
section {
	border: 1px solid rgba(255, 255, 255, 0.8);
	margin-bottom: 10px;
	border-radius: 3px;
}

header {
	padding: 10px 0;
}

nav,
section {
	padding: 100px 0;
}
